.task-wrapper {
  position: relative;
  display: flex;
  padding: 2rem;
  margin-bottom: 2rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: white;
  align-items: center;
}

.task-wrapper.important {
  animation: glow 0.5s both linear alternate-reverse infinite;
}

.task-index {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
}

.task-text {
  font-size: 1.5rem;
  flex-grow: 3;
  overflow: hidden;
}

.task-title {
  padding: 0 0.5rem;
  background-color: var(--hoverColorDarker);
}

.task-date {
  font-weight: 600;
}

.task-wrapper.important.deleted,
.deleted {
  animation: fade 3s both;
}

@keyframes glow {
  from {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  }

  to {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }

  10% {
    opacity: 0.9;
  }

  20% {
    opacity: 0.8;
  }

  30% {
    opacity: 0.7;
  }

  40% {
    opacity: 0.6;
  }

  50% {
    opacity: 0.5;
  }

  60% {
    opacity: 0.4;
  }

  70% {
    opacity: 0.3;
  }

  80% {
    opacity: 0.2;
  }

  90% {
    opacity: 0.1;
  }

  100% {
    opacity: 0;
  }
}
