.menu-wrapper {
  position: fixed;
  min-height: 20rem;
  max-height: 20rem;
  width: 100%;
  padding: 2rem 1.5rem;
  text-align: center;
  background-color: white;
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.form-title {
  padding: 2rem 0;
  margin-bottom: 1rem;
  font-size: 4rem;
}

.form-wrapper {
  margin: 0 auto;
  display: flex;
}
