.tasklist-wrapper {
  padding: 1rem 6rem 1rem 18rem;
  margin: 20rem auto 0 auto;
  max-width: 100rem;
  height: 100%;
}

.tasks-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-align: center;
}

.tasks-info {
  font-size: 2rem;
  padding-top: 3rem;
  text-align: center;
}
